<h1>{{title}}</h1>

<form action="/api/article/create" method="Post">
    <p>标题</p>
    <div>
        <input type="text" name="title">
    </div>
    <p>内容</p>
    <div>
        <textarea name="content" cols="30" rows="10"></textarea>
    </div>
    <button>提交</button>
</form>